@import "chr";
@import "loft";
@import "ants";
@import "tape";
@import "journal";
@import "font-awesome";

@include font-face('Proxima Nova', "ProximaNovaRegular",  $regular,  $asset-pipeline: true, $file-formats: eot woff ttf);
@include font-face('Proxima Nova', "ProximaNovaSemibold", $semibold, $asset-pipeline: true, $file-formats: eot woff ttf);

$proxima-nova-family: "Proxima Nova", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .sidebar, .header, .list:not(.list-aside) .items {
    font-family: $proxima-nova-family;
  }

  .tape .list.tape .items {
    font-family: $base-font-family;
  }

  .menu,
  .menu-posts,
  .menu-settings {
    margin-top: 1em;
  }
}
