/* Header ----------------------------------------------------------------- */
.header {
  @include position(fixed, 0 null null 0);
  background-color : $sidebar-bg-color;
  text-align       : center;
  height           : 100%;
  width            : 16em;

  figure {
    margin : 2.75em 1.5em 2em;
  }

  img {
    border-radius : 40px;
    border        : 4px solid white;
    height        : 80px;
    width         : 80px;
  }

  figcaption {
    line-height : 1.25em;
    margin-top  : .75em;
    font-size   : .9em;
  }

  nav a {
    font-weight : 600;
    line-height : 2em;
    display     : block;
  }
}