@import "rhythm/typography";

/* Typography -------------------------------------------------------------- */
.journal-page {
  @include typography( $base-font-family,
                       $header-font-family,
                       $code-font-family,
                       $base-font-size,
                       $base-line-height,
                       $h1,
                       $h2,
                       $h3 );

  padding-top : 1em;
  border-top  : 3px solid $link-color;
  margin      : 0 0 0 16em;

  h1 {
    line-height : 110%;
  }
}

.journal-page-meta,
.journal-permalink {
  display : none;
}

.journal-index-item {
  .journal-permalink { display : inline-block; }
  .journal-show-comments { display: none; }
}

.journal-page-header,
.journal-page-body,
.journal-page-footer,
.journal-archive-index,
.journal-disqus {
  max-width : 48em;
  padding   : 0 4em;
}

.journal-page-header h1 {
  margin-bottom : .25em;
  a {
    text-decoration : none;
    color           : $base-color;

    &:hover {
      color : $link-color;
    }
  }
}

.journal-page-footer {
  margin-bottom : 1.5em;
  text-align    : center;
  min-height    : .5em;

  a {
    line-height : 3;
  }
}

.journal-page-body {
  color : $text-color;

  p img:first-child {
    display : block;
    margin  : 0 auto;
  }

  figure {
    margin : 0;
  }

  figcaption {
    text-align : center;
    font-size  : .8em;
  }
}

.wide-paragraph {
  margin : 1.5em -4em;
}